# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# mine
**/.vscode/
**/tempCodeRunnerFile.cpp

Projects/LearnCPP/track.txt
Projects/Misc/clit_fuck.cpp
Projects/Misc/cypher.cpp
Projects/Misc/motherfucker.cpp
Projects/Misc/scheisse.cpp
Projects/Misc/sexually_transmitted_disease.cpp
Projects/Misc/shit.cpp
Projects/Misc/squirt.cpp
Projects/Misc/stolen1.cpp
Projects/Misc/todo.txt

*.class